@import "tailwindcss";

@tailwind utilities;

@theme {
    --breakpoint-lg: 70rem;
    --breakpoint-xl: 85rem;
    --color-primary: #89CFF0;
    --color-secondary: #fecdd3;
    --color-tertiary: #F0FFFF;
    --color-box: #FFFDD0;
    --color-danger: #e74c3c;
}